.card__products {
    position: relative;
    width: 100%;
    height: 760px;
    margin-bottom: 18px;

    &-container {
        > div {
            .containerImg {
                width: 100%;
                height: 575px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .containerTitle {
                margin-top: 15px;

                h1 {
                    font-size: 22px;
                    font-weight: 500;
                    color: var(--color-white);
                }

                .titleLarge {
                    font-size: 34px;
                }

                p {
                    font-size: 15px;
                    font-weight: 300;
                    color: var(--color-white);
                    margin-top: 15px;
                    margin-bottom: 0px;
                }
            }

            .containerButton {
                position: absolute;
                bottom: 0px;
            }
        }
    }
}