@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --color-dark: #000;
  --color-white: #fff;
  --color-white-ice: #dfdddd;
  --color-gray: #999;
  --color-text: #dfdddd;
  --color-red: #a20520;
  --color-red-dark: #89041b;
  --color-yellow: #eeaa06;
  --color-border: #48484c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-dark);
}

body.active {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-white);
  text-align: start;
}

p {
  color: var(--color-white-ice);
  text-align: start;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  border: 0;
  width: auto;
  max-width: 100%;
  height: auto;
}

.padd-16 {
  padding-left: 20px;
  padding-right: 20px;
}

.padd-topBottom-16 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-wrapper {
  display: block;
  width: 100%;
}

.img-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex__container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: var(--color-red);
  color: var(--white);
  padding-top: 1.875em;
}
